body, html {
    height: 100%;
}
/* The hero image */
.hero-image {
    min-height: 50vh;
    background-image: url('./images/dog-image.jpeg');
    /* background-image: url('./images/dog-image.jpeg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
    /* opacity: 0.9; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .hero-image::before {
    content: " ";
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */
  
  /* Place text in the middle of the image */
.hero-text {
    color: #fff;
}